{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>
    <div class="logo">
        <img src="{% static 'img/bot.jpg' %}" alt="" style="height: 270px;margin-left: 130px;">
    </div>
        <div class="bar">
            <i type="button" id="search"  class="fa-solid fa-magnifying-glass" style="cursor: pointer;"></i>
            <input class="searchbar" type="search" title="Search" id="input_search" name="input_search" autofocus="autofocus" style="margin-left: 10px;font-family: 'Ubuntu', sans-serif">
        </div>
    <!-- <div class="buttons">
        <button class="button" type="button">Google Search</button>
        <button class="button" type="button">I'm Feeling Lucky</button>
    </div> -->
</center>





<style>
/* default hidden card */
    div.hidden {
        display: none;
    }
</style>

<div class="main-container">
    <div class="heading hidden" id="heading">
        <h1 class="heading__title">Suggestions</h1>
        <p class="heading__credits">
            <a class="heading__link" target="_blank" href="">
            If you don't see what you are looking for, try again or contact the key user.
            </a>
        </p>
    </div>
    <div class="cards" >
        <div class="card card-1 hidden" id="zpp_md_stock_cleaning" data-content="all * zpp md stock cleaning">
            <div class="card__icon"><i class="fas fa-bolt"></i> ZPP md stock cleaning</div>
            <!-- <p class="card__exit"><i class="fas fa-times"></i></p> -->
            <p class="card__title">Clean the file and make it as table without headers or titles.</p>
            <p class="card__apply">
                <a class="card__link" href="">Try Now <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
        <div class="card card-2 hidden" id="matching_wo_command" data-content="all * matching wo command work order">
            <div class="card__icon"><i class="fas fa-bolt"></i> Matching WO CMD</div>
            <!-- <p class="card__exit"><i class="fas fa-times"></i></p> -->
            <p class="card__title">Based on Zpp md stock, matching work orders with their orders.</p>
            <p class="card__apply">
                <a class="card__link" href="{% url 'matchinghome' %}">Try Now <i class="fas fa-arrow-right"></i></a>
            </p>
        </div> 

      <div class="card card-3 hidden" id="file" data-content="all * file cleaning">
          <div class="card__icon"><i class="fas fa-bolt"></i> Testing card.</div>
        <!-- <p class="card__exit"><i class="fas fa-times"></i></p> -->
        <p class="card__title">Ut enim ad minim veniam.</p>
        <p class="card__apply">
          <a class="card__link" href="#">Try Now <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>

      <div class="card card-4 hidden"  id="buffer" data-content="all * buffer liv madlog madilog">
        <div class="card__icon"><i class="fas fa-bolt"></i> Buffer</div>
        <!-- <p class="card__exit"><i class="fas fa-times"></i></p> -->
        <p class="card__title">Pivot table and Buffer per MSN and days caluclation.</p>
        <p class="card__apply">
          <a class="card__link" href="{% url 'bufferhome' %}">Try Now <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
            
      <div class="card card-5 hidden" id="buffer" data-content="all * exchange rate conversion euro sap tcurr">
        <div class="card__icon"><i class="fas fa-bolt"></i> Exchange</div>
        {% comment %} <p class="card__exit"><i class="fas fa-times"></i> </p> {% endcomment %}
        <p class="card__title">Get last exchange rate from SAP</p>
        <p class="card__apply">
          <a class="card__link" href="{% url 'exchangehome' %}">Try Now <i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <!--
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
        </p>
      </div> -->
    </div>
</div>


<script>


    const btn = document.querySelector("#search");
    const input_search = document.querySelector("#input_search");
    const heading = document.querySelector("#heading");
    input_search.addEventListener("keypress", function(event) {
    
    if (event.key === "Enter") {
        event.preventDefault();
        btn.click();
    }
    });

    btn.addEventListener('click', function(e) {
    resetAllDivs();
    const allWords =input_search.value.split(' ');

    allWords.forEach(findWord)
    })

    function findWord(w) {
    const allDivs = document.querySelectorAll(`div[data-content*='${w}']`);
    heading.classList.remove('hidden')
    allDivs.forEach(showDiv)
    }

    function showDiv(node) {
    node.classList.remove('hidden')
    }

    function resetAllDivs() {
    const allDivs = document.querySelectorAll(`div[data-content]`);
    allDivs.forEach(div => div.classList.add('hidden'));
    }

</script>
{% endblock %}
