<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <!-- ~ 2GB -->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\zenoenv\zenobot" />
        <add key="DJANGO_SETTINGS_MODULE" value="zeno.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="zenohandling" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\zenoenv\Scripts\python.exe|C:\zenoenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>


